# Virtual environment and variables
venv/
.env

# VSCode workspace settings
.vscode/

# Python byte-compiled code
__pycache__/
*.py[codz]

# Project files
data/input/*
data/output/*
#data/examples # (Optional)

# Temporary development test files
dev-tests/